<mat-card >
    <mat-form-field class="example-full-width">
        <mat-label>Result</mat-label>
        <input matInput [value]="display" name="screen" disabled>
    </mat-form-field>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let button of buttonsGrid"
            [colspan]="button.cols"
            [rowspan]="button.rows">
            <button mat-fab [color]="button.color" (click)="bindMethodType(button.methodType, button.text)" [disabled]="readyToClear && (button.methodType === 1 || button.methodType === 2)">{{button.text}}</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>